<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
	<connectionStrings>
		<add name="database" connectionString="Data Source=LAPTOP-9IVVAGTC;Initial Catalog=foodwaste_login;Integrated Security=True;" providerName="System.Data.SqlClient"/>
	</connectionStrings>
</configuration>